/* Facebook */
/*
 * Main Styles file for Simplicity
 * Author: Creativico
 * Date: 10/02/2013
 */
/***** HTML & Body Setup *****/
html {
<<<<<<< HEAD
  overflow: hidden;
=======

>>>>>>> 1b06ef7f5952a40d8082a95faab798757f991250
}
body {
  background-color: #ecf0f1;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #7b8b9d;
  margin-top: 0px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
a {
  color: #333333;
}
a:hover,
a:focus {
  text-decoration: none !important;
}
a:focus {
  outline: none !important;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/***** Container Setup *****/
.container-liquid {
  margin: 0 auto;
  padding: 0 15px;
}
.content-liquid-full .container {
  width: 100% !important;
  padding: 0px;
}
.content-liquid-full .container > div {
  padding: 0;
}
.content-liquid-full {
  margin: 0 auto 0 250px;
  padding: 0px 15px;
}
.content-liquid-full.right-sidebar {
  margin: 0 250px 0 250px;
}
.content-liquid {
  height: 100%;
}
.space {
  height: 40px;
  display: block;
}
/***** BS Overwrite *****/
.input-group-addon {
  min-width: 40px;
}
/***** Colors *****/
.green {
  color: #0fddaa !important;
}
.orange {
  color: #e54d26 !important;
}
.blue {
  color: #0099ff !important;
}
.rose {
  color: #e80d53 !important;
}
/***** Header *****/
header {
  width: 100%;
}
header.fixed {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99999;
}
header .header-bar {
  background-color: #2F3949;
}
.header-bar .search {
  background: url("../images/search.png") no-repeat scroll 0px 13px;
  border: 0px;
  background-color: transparent;
  box-shadow: none;
  color: #FFFFFF;
  text-indent: 20px;
  transition: all 0.3s ease 0s;
  width: 20px;
  height: 45px;
  display: block;
}
.header-bar .search:hover {
  background: url("../images/search-focus.png") no-repeat scroll 0px 13px;
}
.header-bar .search:focus {
  background: url("../images/search-focus.png") no-repeat scroll 0px 13px;
  border: 0px;
  box-shadow: none;
  color: #233242 !important;
  font-weight: 300;
  font-size: 12px;
  transition: all 0.3s ease 0s;
  width: 180px;
}
.header-bar .search::-webkit-input-placeholder {
  color: #233242;
}
.header-bar .search:-moz-placeholder {
  color: #233242;
}
.header-bar .search::-moz-placeholder {
  color: #233242;
}
.header-bar .search:-ms-input-placeholder {
  color: #233242;
}
.left-side {
  padding: 20px 0px;
  width: 250px;
  float: left;
}
/***** Logo Container *****/
.logo-container {
  max-height: 55px;
  padding-left: 30px;
  line-height: 65px;
  background-color: #ffffff;
  border-bottom: 1px solid #D5DDDF;
}
.logo-container h1 {
  font-size: 26px;
  margin: 0;
  padding: 0;
  line-height: 33px;
  color: #2f3949;
  font-weight: 400;
  font-family: 'Lobster', cursive;
  font-style: italic;
  display: inline-block;
}
.logo-container h4 {
  display: inline-block;
  color: #2f3949;
  font-size: 12px;
  padding-left: 10px;
  margin: 0;
}
.header-bar {
  background-color: #ffffff;
  border-bottom: 1px solid #d5dddf;
  margin: 0px -15px 20px -15px;
  min-height: 45px;
  padding-top: 10px !important;
}
/***** Header Bar - Left Icons *****/
ul.left-icons,
ul.right-icons {
  margin: 0;
  padding: 0;
  height: 45px;
}
ul.left-icons {
  display: inline-block;
  vertical-align: top;
  float: left;
}
ul.left-icons:after,
ul.right-icons:after {
  content: '';
  display: block;
  clear: both;
}
ul.left-icons li {
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
}
ul.left-icons li a {
  padding: 0px 1.3em;
  display: block;
}
ul.left-icons li i {
  font-size: 16px;
  color: rgba(44, 62, 80, 0.3);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
ul.left-icons li a:hover i {
  color: #2c3e50;
}
/***** Header Bar - Right Icons *****/
ul.right-icons {
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: top;
}
ul.right-icons > li {
  padding-bottom: 20px;
  padding-right: 0px;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  margin-left: 15px;
  position: relative;
}
ul.right-icons li a {
  position: relative;
}
ul.right-icons > li > a > i {
  vertical-align: top;
  line-height: 32px;
  color: #ffffff;
}
ul.right-icons > li > a {
  vertical-align: middle;
  background-color: #f9f9f9;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
}
ul.right-icons .notify {
  position: absolute;
  top: -8px;
  right: -6px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f86868;
  width: 18px;
  height: 18px;
  color: #ffffff;
  line-height: 18px;
  text-align: center;
  font-size: 8px;
}
ul.right-icons .user {
  background-color: #1abc9c;
}
ul.right-icons .email {
  background-color: #42b3e5;
}
ul.right-icons .info {
  background-color: #a78ed7;
}
ul.right-icons .settings {
  background-color: #343f51;
}
ul.right-icons .lock {
  background-color: #49617b;
}
ul.right-icons li:last-child {
  border-right: 0px solid #2c3e50;
}
.right-icons span {
  color: #6f8399;
}
.right-icons .user-name {
  color: #F86868;
}
.right-icons .user-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.right-icons .user-avatar img {
  vertical-align: top;
}
ul.right-icons > li > a {
  padding: 0px 0px;
  display: block;
}
ul.right-icons > li > a i {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
ul.right-icons li a:hover i {
  color: #ffffff;
}
ul.right-icons > li > a.user-avatar {
  padding: 0px 0px;
  margin-right: 20px;
  display: inline-block;
}
ul.right-icons li > ul.dropdown {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 3px;
  display: none;
  left: -50%;
  top: 42px;
  margin-left: -13px;
  position: absolute;
  min-width: 120px;
  line-height: normal;
}
ul.right-icons li > ul.dropdown.big {
  margin-left: -73px;
}
ul.right-icons li > ul.dropdown:after,
ul.right-icons li > ul.dropdown:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
ul.right-icons li > ul.dropdown:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
ul.right-icons li > ul.dropdown:before {
  border-color: rgba(218, 218, 218, 0);
  border-bottom-color: #DADADA;
  border-width: 11px;
  margin-left: -11px;
}
ul.right-icons li:hover > ul.dropdown {
  display: inline-block;
  z-index: 99999;
  padding: 7px 0px;
}
ul.right-icons li > ul.dropdown li {
  padding: 7px 0px;
  text-align: left;
  padding-left: 14px;
  padding-right: 14px;
}
ul.right-icons li > ul.dropdown li a {
  white-space: nowrap;
  color: #49617b;
}
ul.right-icons li > ul.dropdown li a i {
  padding-right: 8px;
  font-size: 15px;
  color: #7b8b9d;
}
ul.right-icons li > ul.dropdown li a:hover i,
ul.right-icons li > ul.dropdown li a:hover {
  color: #45aab3 !important;
}
ul.right-icons li > ul.dropdown li span.description {
  display: block;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  padding-left: 22px;
  color: #95a6b9;
}
ul.right-icons li > ul.dropdown li:hover a i {
  color: #7B8B9D;
}
/***** BreadCrumbs *****/
.breadcrumbs {
  margin: 0 0 10px 0;
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li:after {
  content: '\f054';
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 10px;
  padding: 0px 10px;
  color: #7b8b9d;
}
.breadcrumbs li a {
  color: #0384ce;
}
.breadcrumbs li:last-child:after {
  content: '';
}
.breadcrumbs li:last-child a {
  color: #7b8b9d;
}
/***** Horizontal Menu *****/
body.horizontal-menu .content-liquid-full {
  margin-left: 0px;
  margin-top: 20px;
}
body.horizontal-menu .sidebar {
  height: auto;
  position: relative;
  width: 100%;
  min-height: 30px;
  background-color: #2c3e50;
}
body.horizontal-menu .logo-container {
  width: 200px;
}
body.horizontal-menu .sidebar li.active {
  border-left: 0px !important;
  background-color: #2c3e50;
}
body.horizontal-menu .sidebar li {
  display: inline-block;
  vertical-align: top;
  box-shadow: none;
  overflow: visible;
  position: relative;
}
body.horizontal-menu .sidebar li .child {
  position: absolute;
  top: 45px;
  left: 0px;
  z-index: 9999;
  width: 100%;
}
body.horizontal-menu .sidebar li .child li {
  width: 100%;
}
body.horizontal-menu .sidebar li .child li a {
  padding-left: 0px;
}
body.horizontal-menu .sidebar .menu {
  background-color: #2c3e50;
  text-align: center;
}
body.horizontal-menu .sidebar .menu li.parent > a:after {
  padding-left: 5px;
}
/***** Fixed Header Bar *****/
body.fixed-headerbar .sidebar {
  margin-top: 55px;
}
body.fixed-headerbar .sidebar .logo-container {
  position: fixed;
  width: 250px;
  top: 0;
  z-index: 9999;
}
body.fixed-headerbar .header-bar {
  position: fixed;
  width: -moz-calc(-150%);
  width: -webkit-calc(-150%);
  width: calc(-150%);
  top: 0;
  z-index: 9999;
}
body.fixed-headerbar .content-liquid-full > .container > .row + .row {
  margin-top: 80px;
}
/***** Fixed Sidebar *****/
.fixed-sidebar {
  position: fixed !important;
}
/***** Collapsed Sidebar *****/
body.collapsed-sidebar .sidebar {
  width: 50px;
}
body.collapsed-sidebar .content-liquid-full {
  margin-left: 50px;
}
body.collapsed-sidebar .menu li:first-child {
  height: 55px;
  line-height: 55px;
}
body.collapsed-sidebar .menu li a .menu-icon {
  margin: 0px !important;
  width: 100%;
}
body.collapsed-sidebar .menu li.active {
  border-left: 0px !important;
}
body.collapsed-sidebar .menu li.active a span {
  width: 100% !important;
}
/***** Content *****/
.content {
  height: 100%;
  width: 100%;
  position: relative;
}
.content.header-fixed {
  margin-top: 73px;
}
.content .container-liquid {
  height: 100%;
}
.content .container-liquid .row {
  height: 100%;
}
/***** Sidebar *****/
.sidebar {
  background-color: #2c3e50;
  height: 100%;
  min-height: 600px;
  padding: 0px !important;
  width: 250px;
  position: absolute;
}
.sidebar.right {
  right: 0;
  top: 0;
  background-color: #ffffff;
  border-left: 1px solid #D5DDDF;
}
.sidebar .responsive-menu {
  display: none;
  font-size: 26px;
}
.sidebar.right .box {
  border-radius: 0px;
  margin-bottom: 0px;
}
/***** Sidebar - Profile *****/
.sidebar-profile {
  padding: 25px 0px;
  text-align: center;
  border-bottom: 1px solid #252f40;
}
.sidebar-profile .user-avatar {
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-bottom: 10px;
}
.sidebar-profile .user-avatar img {
  max-width: 150%;
  width: auto;
  height: 100%;
  min-height: 100%;
}
.sidebar-profile .user-info a {
  color: #7b8b9d;
  font-size: 13px;
}
.sidebar-profile .user-info a:after {
  content: '\f078';
  font-family: 'FontAwesome';
  color: #7b8b9d;
  padding-left: 10px;
}
/***** Sidebar Main Menu *****/
.sidebar .menu {
  border-top: 1px solid #404c60;
  margin: 0;
  padding: 0 0px !important;
  list-style: none;
  background-color: #343f51;
}
.sidebar .menu li {
  padding: 0px 0px;
  background-color: #2c3e50;
}
.sidebar .menu > li.active {
  background-color: #2f3949;
}
.sidebar .menu li i {
  padding-right: 10px;
  font-size: 16px;
}
.sidebar .menu li a {
  display: block;
  font-weight: normal;
  color: #fff;
  font-size: 14px;
  color: #8e99a2;
  height: 45px;
  overflow: hidden;
  position: relative;
}
.sidebar .menu li a:hover {
  text-decoration: none;
  color: #ffffff;
}
.sidebar .menu li a:hover i {
  color: #ffffff;
}
.sidebar .menu > li.active > a,
.sidebar .menu > li.active i {
  color: #ffffff;
}
/***** Sidebar - Main Menu - Menu Text *****/
.sidebar .menu li .menu-text {
  display: inline-block;
  width: 140px;
  height: 45px;
  vertical-align: top;
  line-height: 48px;
}
/***** Sidebar - Main Menu - Parent Icons *****/
.sidebar .menu > li.active {
  border-left: 4px solid #2f3949;
}
.sidebar .menu li.active.lightgreen {
  border-left: 4px solid #45aab3;
}
.sidebar .menu li.active.lightred {
  border-left: 4px solid #d55152;
}
.sidebar .menu li.active.lightblue {
  border-left: 4px solid #6ed2dc;
}
.sidebar .menu li.active.blue {
  border-left: 4px solid #15a4fa;
}
.sidebar .menu li.active.green {
  border-left: 4px solid #7fbf33;
}
.sidebar .menu li.active.purple {
  border-left: 4px solid #7d6ccb;
}
.sidebar .menu li.active.orange {
  border-left: 4px solid #ff6600;
}
.sidebar .menu li.active.lightorange {
  border-left: 4px solid #ff9900;
}
.sidebar .menu li.active.lightyellow {
  border-left: 4px solid #ffff33;
}
.sidebar .menu li.active.pink {
  border-left: 4px solid #ff6699;
}
.sidebar .menu li.active.cream {
  border-left: 4px solid #ffcc99;
}
.sidebar .menu li.active.marine {
  border-left: 4px solid #17a697;
}
.sidebar .menu li.active.darkblue {
  border-left: 4px solid #3366cc;
}
.sidebar .menu li a .menu-icon {
  background-color: #2c3e50;
  width: 29px;
  height: 45px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  margin-left: 20px;
  vertical-align: top;
  overflow: hidden;
  position: relative;
}
.sidebar .menu li a .menu-icon i {
  width: 30px;
  height: 45px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  padding-right: 0px;
  padding-top: 12px;
  color: #818b95;
  line-height: 25px;
}
.sidebar .menu li.active a .menu-icon {
  background-color: transparent;
  width: 29px;
  height: 45px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  margin-left: 15px;
}
.sidebar .menu li.active a .menu-icon i {
  padding-right: 0px;
  padding-top: 12px;
  color: #ffffff;
}
.sidebar .menu li.active a:hover .menu-icon i {
  color: #818b95;
}
.sidebar .menu li.active a .menu-icon:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: 0px 0 0 30px;
}
.sidebar .menu li .notification {
  color: #fff !important;
  background-color: #f86868;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  padding: 0px 0px;
  display: inline-block;
  text-align: center;
  margin-top: 13px;
  line-height: 24px;
  font-size: 11px;
}
.sidebar .menu li.parent .notification {
  float: none;
}
/***** Sidebar - Main Menu - Notifications *****/
.sidebar .menu li .notification.green {
  background-color: #109618;
}
.sidebar .menu li .notification.lightgreen {
  background-color: #45aab3;
}
.sidebar .menu li .notification.lightred {
  background-color: #cf3638;
}
.sidebar .menu li .notification.blue {
  background-color: #3366cc;
  color: #ffffff !important;
}
.sidebar .menu li .notification.lightblue {
  background-color: #15a4fa;
}
.sidebar .menu li .notification.orange {
  background-color: #e7a60b;
}
.sidebar .menu li .notification.lightyellow {
  background-color: #eaee77;
  color: #2f3949;
}
.sidebar .menu li .notification.purple {
  background-color: #734cbd;
  color: #ffffff;
}
.sidebar .menu li:hover .arrow:before {
  color: #818b95;
}
/***** Sidebar - Main Menu - Parent *****/
.sidebar .menu li.parent > a:after {
  content: '\f105';
  font-family: 'FontAwesome';
  color: #818b95;
  float: right;
  margin-right: 15px;
  margin-top: 12px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
  font-size: 16px;
}
.sidebar .menu li.parent > a.close-child:after {
  content: '\f105';
  font-family: 'FontAwesome';
  color: #818b95;
  float: right;
  margin-right: 15px;
  margin-top: 12px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 16px;
}
.sidebar .menu li.parent.active ul.child {
  display: block;
}
/***** Sidebar - Main Menu - Child *****/
.sidebar .child {
  background-color: #d9e3e5;
  margin-left: 0px;
  padding-left: 0px;
  display: none;
}
.sidebar .child.open {
  display: block;
}
.sidebar .child li {
  background-color: #2f3949;
  border-bottom: 0px solid #b7c9cd;
  border-top: 1px solid #3e495a;
}
.sidebar .child li:last-child {
  border-bottom: 1px solid #3e495a;
}
.sidebar .child li a {
  color: #818b95;
  padding-left: 55px;
}
.sidebar .child li a:hover {
  background-color: #2b3545;
  color: #a0acbf;
}
.sidebar .child li a {
  vertical-align: top;
  display: inline-block;
  line-height: 38px;
  height: 38px;
  width: 100%;
}
/***** Sidebar - Main Menu - Child / Active *****/
.sidebar .child li.active {
  background-color: #2b3545;
}
.sidebar .child li.active a {
  color: #ffffff;
  background-color: #2b3545;
}
/***** Sidebar - Projects *****/
.sidebar .active-projects {
  background-color: #1f3141;
  padding: 20px 20px;
  margin: 25px 0px;
}
.sidebar .active-projects i {
  padding-right: 10px;
  font-size: 18px;
}
.sidebar .active-projects h3 {
  color: #f6f6f6;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
.sidebar .active-projects .project-list {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  list-style: none;
}
.sidebar .active-projects .project-list li {
  padding: 3px 0px;
  font-weight: bold;
}
.sidebar .active-projects .project-list li i {
  font-size: 12px;
}
.sidebar .active-projects .project-list li .update {
  display: block;
  padding-left: 23px;
  font-size: 12px;
  color: #f6f6f6;
  font-weight: normal;
  width: 100%;
}
/***** Content side *****/
.content-side {
  padding: 20px 25px;
}
.content-side h2 {
  font-weight: 200;
  margin-bottom: 25px;
}
/***** Content Side - Content Box ******/
.content-side .content-box {
  margin-bottom: 20px;
}
.content-side .content-box .inner {
  background-color: #f6f6f6;
  min-height: 100px;
  position: relative;
}
#chart {
  position: relative;
  display: inline-block;
}
/***** Box with Rounded Corners *****/
.boxed {
  margin-bottom: 20px;
}
.boxed .inner {
  padding: 12px 20px;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  color: #7f95a9;
  overflow: hidden;
}
.boxed .inner:after {
  content: '';
  clear: both;
  display: block;
}
.boxed .inner input {
  width: 100%;
}
.boxed .inner.no-radius {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.boxed .inner h1,
.boxed .inner h2,
.boxed .inner h3,
.boxed .inner h4,
.boxed .inner h5,
.boxed .inner h6 {
  margin: 0px;
  padding: 0px;
}
.boxed .inner h2.divider,
.boxed .inner h3.divider {
  margin: 10px 0px;
}
.boxed.no-padding .inner {
  padding: 0px;
}
.boxed .title-bar {
  background-color: #fafafa;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  border-bottom: 1px solid #eff2f7;
}
.boxed .title-bar.white {
  background-color: #ffffff;
}
.boxed .title-bar.gray {
  background-color: #fafafa;
}
.boxed .title-bar.white h4 {
  color: #b7c9cd;
}
.boxed .title-bar h4 {
  font-weight: normal;
  color: #b7c9cd;
  margin: 0;
  font-size: 13px;
  float: left;
  width: 70%;
  text-transform: uppercase;
  line-height: 20px;
}
.boxed .title-bar .actions {
  float: right;
  width: 25%;
  text-align: right;
  margin: 0;
  padding: 0;
}
.boxed .title-bar .actions li {
  display: inline-block;
  padding-right: 8px;
}
.boxed .title-bar .actions li a i {
  color: #a9abab;
}
.boxed .title-bar .actions li a {
  font-size: 14px;
}
.boxed .title-bar .actions:after {
  display: inline-block;
  content: '';
  clear: both;
}
/***** Box *****/
.box {
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
}
.box .title-bar {
  background-color: #27a5f9;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.box .title-bar i {
  font-size: 12px;
  padding: 0px 15px;
}
.box .title-bar .close-box {
  display: inline-block;
  float: right;
  color: #5d4bb0;
}
.box .title-bar .close-box i {
  font-size: 20px;
  padding: 0px 5px;
  position: relative;
  top: -5px;
}
.title-bar .close-box a i {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.title-bar .close-box a:hover i {
  opacity: 0.3;
}
.box .title-bar .close-box:after {
  clear: both;
  display: block;
}
/***** Calendar Widget *****/
.calendar {
  clear: both;
}
.calendar .title-bar {
  background-color: #f86868 !important;
  color: #ffffff !important;
}
.calendar-widget table thead th,
.calendar-widget table tbody td {
  min-width: 0px !important;
}
.calendar-widget .ui-datepicker-inline {
  border-radius: 0px !important;
  border: 0px !important;
  background: none !important;
  padding: 10px 25px 20px 25px;
}
.calendar-widget .ui-datepicker-calendar {
  background-color: #a5b9be !important;
  border: 1px solid #dae0e2 !important;
}
.ui-datepicker th {
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 0px;
}
.ui-datepicker th span {
  font-size: 14px;
}
.calendar-widget .ui-datepicker-header {
  background: none;
  border: 0px;
  padding: 10px 0px;
}
.ui-datepicker .ui-datepicker-title {
  line-height: normal;
}
.calendar-widget .ui-datepicker-calendar tbody {
  background-color: #ecf0f1 !important;
}
.calendar-widget .ui-datepicker-calendar tbody tr {
  border-bottom: 1px solid #dae0e2 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td:first-child {
  border-left: 0px solid #dae0e2 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td {
  border-right: 1px solid #dae0e2 !important;
  height: 50px;
}
.calendar-widget .ui-datepicker-calendar tbody td:last-child {
  border-right: 0px solid #dae0e2 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td a {
  color: #a0b5ba !important;
  background: none;
  border: 0px;
  height: 50px;
  line-height: 50px;
}
.calendar-widget .ui-datepicker-calendar tbody td:hover {
  background-color: #F86868 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td:hover a {
  color: #ffffff !important;
  font-weight: bold;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-current-day {
  background-color: #1abc9c !important;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-current-day a {
  color: #ffffff !important;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-current-day a {
  border: 0px !important;
  background: none !important;
  font-weight: bold !important;
  color: #ffffff !important;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-today a.ui-state-highlight {
  border: 0px !important;
  background: none !important;
  font-weight: bold !important;
  color: #F86868 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-today {
  background: transparent !important;
}
.calendar-widget .ui-datepicker-inline,
.calendar-widget .ui-datepicker-calendar {
  width: 100% !important;
}
.calendar-widget .ui-datepicker-calendar a {
  text-align: center !important;
}
.calendar-widget .ui-datepicker-calendar a:hover {
  background: none !important;
}
.calendar-widget .ui-datepicker-prev span {
  background: none !important;
  display: none !important;
}
.calendar-widget .ui-datepicker-prev {
  display: block !important;
  cursor: pointer !important;
  left: 0px !important;
  top: 0px !important;
  line-height: 36px;
}
.calendar-widget .ui-datepicker-prev:before {
  content: '\f053' !important;
  display: inline-block !important;
  font-family: 'FontAwesome' !important;
  color: #a5b9be !important;
  vertical-align: middle !important;
}
.calendar-widget .ui-datepicker-prev.ui-state-hover {
  left: 0px !important;
  top: 0px !important;
  border: 0px;
}
.calendar-widget .ui-datepicker-prev.ui-state-hover span {
  background: none !important;
}
.calendar-widget .ui-datepicker-next span {
  background: none !important;
  display: none !important;
}
.calendar-widget .ui-datepicker-next {
  display: block !important;
  cursor: pointer !important;
  right: 0px !important;
  top: 0px !important;
  text-align: right !important;
  background: none !important;
  line-height: 36px;
}
.calendar-widget .ui-datepicker-next:before {
  content: '\f054' !important;
  display: inline-block !important;
  font-family: 'FontAwesome';
  color: #a5b9be;
  text-align: right;
  vertical-align: middle;
}
.calendar-widget .ui-datepicker-next.ui-state-hover {
  right: 0px !important;
  top: 0px !important;
  border: 0px;
}
.calendar-widget .ui-datepicker-next.ui-state-hover span {
  background: none !important;
}
.calendar-widget .ui-datepicker-next:hover:before,
.calendar-widget .ui-datepicker-prev:hover:before {
  color: #f86868 !important;
}
.calendar-widget .ui-datepicker-title span {
  font-size: 13px !important;
  font-weight: bold !important;
  color: #a5b9be !important;
}
.box .close-box i {
  color: #1a84cb;
}
/***** Daily Traffic *****/
.daily-traffic .dial {
  display: none;
}
.daily-traffic .inner {
  margin: 20px 0px;
}
.daily-traffic .inner:after {
  display: block;
  clear: both;
  content: '';
}
.daily-traffic .inner h3 {
  text-align: center;
  font-size: 16px;
}
.daily-traffic .inner .count-to {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
/***** Daily Sales Stat *****/
.daily-sales {
  padding: 0px;
}
.daily-sales .title-bar {
  background-color: #ea4c89;
}
.daily-sales .close-box i {
  color: #92224d;
}
/***** Progress Bar *****/
.progress-bar-stat:after {
  clear: both;
  display: block;
  content: '';
}
.progress-bar-stat {
  margin: 15px 10px 10px 10px;
  border-bottom: 2px solid #a5b9be;
  padding-left: 25px;
}
.progress-bar-stat li:last-child:after {
  clear: both;
  display: block;
  content: '';
}
.progress-bar-stat li {
  float: left;
  margin-right: 8px;
  background-color: #f1f1f1;
  width: 20px;
  height: 120px;
  position: relative;
}
.progress-bar-stat li span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
}
.progress-bar-stat li span.blue {
  background-color: #599bba;
}
.progress-bar-stat li span.green {
  background-color: #149e50;
}
.progress-bar-stat li span.pink {
  background-color: #ea4c89;
}
.progress-bar-stat li span.purple {
  background-color: #8574d1;
}
.progress-bar-stat li span.lime {
  background-color: #bae22d;
}
.progress-bar-stat li span.darkblue {
  background-color: #43609c;
}
.inlinesparkline {
  width: 100%;
  display: block;
}
/***** Social Stats *****/
.social-stats .title-bar {
  background-color: #27a5f9;
  color: #ffffff;
}
.social-stats .close-box i {
  color: #1a84cb;
}
.social-stats ul {
  list-style: none;
  margin: 0;
  padding: 15px 15px;
}
.social-stats ul li {
  margin-bottom: 8px;
}
.social-stats ul li i {
  padding: 0px 0px 0px 0px;
  width: 25px;
  text-align: center;
  font-size: 16px;
  color: #8ca2b7;
}
.social-stats ul li {
  color: #27a5f9;
  line-height: 25px;
}
.social-stats ul li span {
  float: right;
  color: #8ca2b7;
}
/***** Who's Online *****/
.whos-online {
  background-color: #233242;
}
.whos-online .title-bar {
  background-color: #233242;
  color: #6c7681;
  border-bottom: 1px solid #6c7681;
}
.whos-online .title-bar .close-box i {
  color: #49617b;
}
.whos-online ul {
  list-style: none;
  margin: 0;
  padding: 15px 15px;
}
.whos-online ul li {
  margin-bottom: 8px;
}
.whos-online ul li div.user-avatar {
  overflow: hidden;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: top;
}
.whos-online ul li span.username {
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  color: #8ca2b7;
  padding-left: 20px;
}
.whos-online ul li span.status {
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  float: right;
}
.whos-online ul li span.status.online:before {
  content: '\f111';
  font-family: 'FontAwesome';
  color: #11a222;
  font-size: 11px;
}
.whos-online ul li span.status.offline:before {
  content: '\f111';
  font-family: 'FontAwesome';
  color: #d62d6e;
  font-size: 11px;
}
/***** Animated Page ******/
#animationSandbox {
  width: 100%;
  text-align: center;
}
#animationSandbox h1 {
  font-size: 86px;
  color: #F35626;
}
.animated-example-form {
  margin: 0 auto;
  text-align: center;
}
.animated-example-form select {
  display: inline-block;
  padding: 5px 12px;
}
/***** Projects *****/
.projects .title-bar {
  background-color: #3156a3;
  color: #ffffff;
}
.projects .title-bar .close-box i {
  color: #4f74c2;
}
.projects ul {
  list-style: none;
  margin: 0;
  padding: 15px 15px;
}
.projects ul li {
  margin-bottom: 8px;
  color: #3156a3;
  line-height: 25px;
  font-size: 13px;
}
.projects ul li span {
  float: right;
  color: #8ca2b7;
}
/***** Invoices *****/
.invoice-logo {
  margin-top: 5px;
  float: left;
  max-width: 400px;
}
.invoice-logo i {
  display: inline-block;
  font-size: 36px;
  color: #734cbd;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 8px;
}
.invoice-logo h3 {
  display: inline-block;
  font-weight: bold;
  color: #6a727f;
  text-transform: uppercase;
  line-height: 36px;
  vertical-align: top;
}
.invoice-actions {
  float: right;
  max-width: 800px;
}
.invoice-header {
  margin-top: 20px;
}
.invoice-header thead th:first-child {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  overflow: hidden;
}
.invoice-header thead {
  border-bottom: 0px !important;
}
.invoice-header thead th {
  background-color: #a7b6cf;
  color: #ffffff;
  padding: 0px 20px;
}
.invoice-header thead th:last-child {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  overflow: hidden;
}
.invoice-header tbody tr td {
  padding: 15px 20px;
  vertical-align: top;
}
.invoice-table thead th {
  background-color: #a7b6cf;
  color: #ffffff;
  padding: 0px 20px;
  text-transform: uppercase;
}
.invoice-table thead th:first-child {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 0px !important;
  overflow: hidden;
}
.invoice-table thead th:last-child {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 0px !important;
  overflow: hidden;
}
.invoice-table .id-col {
  max-width: 25px;
}
.invoice-table .price-col {
  max-width: 300px;
}
.invoice-table .quantity-col {
  max-width: 300px;
}
.invoice-table .total-col {
  max-width: 300px;
  font-weight: bold;
}
.invoice-table tbody td {
  padding: 15px 20px;
}
.invoice-additional-notes h4 {
  margin-bottom: 10px !important;
  font-weight: bold;
  font-size: 16px;
}
.invoice-subtotal tr th,
.invoice-subtotal tr td {
  padding: 0px 15px;
}
.invoice-subtotal tr td {
  width: 50%;
}
.invoice-subtotal tr.total {
  background-color: #a7b6cf;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
/***** Tasks *****/
.tasks .title-bar {
  background-color: #149e50;
  color: #ffffff;
}
.tasks .title-bar .close-box i {
  color: #1dbb62;
}
.tasks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tasks ul li {
  margin-bottom: 0px;
  border-bottom: 1px solid #959595;
  padding: 10px 15px;
}
.tasks ul li {
  color: #149e50;
  line-height: 25px;
}
.tasks ul li:last-child {
  border-bottom: 0px !important;
}
.tasks ul li span {
  width: 100%;
  display: block;
  color: #959595;
  line-height: 12px;
}
/***** Standalone Title Bar *****/
.standalone-title-bar {
  clear: both;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  padding: 15px 20px;
  font-size: 20px;
}
.standalone-title-bar i {
  padding-right: 15px;
  font-size: 20px;
}
.standalone-title-bar.gray {
  background-color: #8ca2b7;
  color: #ffffff;
}
/***** Task List *****/
.task-list {
  margin: 15px 0px;
  padding: 0;
  list-style: none;
}
.task-list li {
  margin-bottom: 15px;
}
.task-list li.nav a {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #8ca2b7;
  color: #8ca2b7;
}
.task-list li.nav a:first-child {
  padding-left: 0px;
}
.task-list li.nav a:last-child {
  border-right: 0px !important;
}
.task-list li.nav a i {
  padding: 0px 7px 0px 0px;
}
.task-list li.nav a.create-task i {
  color: #109618;
}
.task-list li.nav a.delete-task {
  color: #f56333;
}
.task-list li.nav a.delete-task i {
  color: #f56333;
}
.task-list li {
  padding: 15px 20px;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
}
.task-list li .icheckbox_flat-green {
  margin-right: 10px;
}
.task-list li span.checked {
  text-decoration: line-through;
}
.task-list li span {
  color: #8ca2b7;
  line-height: 20px;
  padding-top: 2px;
  vertical-align: top;
  display: inline-block;
}
.task-list li .actions {
  float: right;
}
.task-list li .actions a {
  font-size: 16px;
  margin-left: 15px;
}
.task-list li .actions .edit {
  color: #00b6f1;
}
.task-list li .actions .delete {
  color: #f56333;
}
.task-list li .actions .done {
  color: #f56333;
}
/***** Weather Widgets *****/
.weather-widget.big {
  color: #ffffff;
}
.weather-widget.big .weather-icon {
  width: 50%;
  height: 200px;
  float: left;
  text-align: center;
  padding: 25px 25px;
}
.weather-widget .weather-icon .temperatures {
  display: block;
  margin-top: 15px;
}
.weather-widget .weather-icon span {
  font-size: 24px;
}
.weather-widget .weather-icon span.min {
  display: inline-block;
  width: 30%;
  text-align: left;
  vertical-align: top;
  margin-left: 10px;
}
.weather-widget .weather-icon span.max {
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: top;
  margin-right: 10px;
}
.weather-widget.big .weather-icon i {
  color: #ffffff;
  font-size: 56px;
}
.weather-widget.big .weather-status {
  width: 50%;
  float: right;
  text-align: center;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.weather-widget .weather-status .background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0.5;
}
.weather-widget .weather-status .info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  padding: 20px;
  text-align: left;
}
.weather-widget .weather-status .info .date-time {
  padding-bottom: 20px;
  font-size: 14px;
}
.weather-widget .weather-status .info .city {
  font-size: 18px;
  font-weight: bold;
}
.weather-widget .weather-status .info .location {
  font-size: 14px;
}
.weather-widget .weather-status .info .weather-state {
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.weather-widget .weather-status .info span {
  display: block;
  width: 100%;
}
.weather-widget.big .weather-prediction:before {
  clear: both;
  display: block;
  content: '';
}
.weather-widget.dark .weather-prediction {
  background-color: #000000 !important;
}
.weather-widget.big .weather-prediction {
  background: #000000 url('../_demo/images/new-york.png') top left no-repeat;
  background-size: cover;
}
.weather-widget.big .weather-prediction ul {
  margin: 0px;
  padding: 20px 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}
.weather-widget.big .weather-prediction ul li {
  display: inline-block;
  width: 19.5%;
  vertical-align: top;
}
.weather-widget.big .weather-prediction ul li span {
  display: block;
  text-align: center;
}
.weather-widget.big .weather-prediction ul li span.day {
  font-weight: bold;
  font-size: 16px;
}
.weather-widget.big .weather-prediction ul li span.icon {
  font-size: 28px;
}
.weather-widget.big .weather-prediction ul li span.temperature {
  font-size: 18px;
}
/***** Social Boxes *****/
.social-box {
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  height: 70px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
}
.social-box .icon-container {
  width: 30%;
  height: 70px;
  display: inline-block;
  vertical-align: top;
}
.social-box .icon-container .inner {
  width: 80px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.social-box .icon-container i {
  color: #ffffff;
  font-size: 3em;
}
.social-box .text-container {
  display: inline-block;
  vertical-align: top;
  height: 70px;
  margin-left: 3px;
  width: 66%;
  text-align: center;
}
.social-box .text-container .inner {
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  color: #8ca2b7;
}
.social-box .text-container .inner span {
  font-weight: bold;
  font-size: 26px;
  padding-right: 8px;
}
/* Facebook */
.social-box.facebook .icon-container {
  background-color: #43609c;
}
.social-box.facebook .text-container .inner span {
  color: #43609c;
}
/* Twitter */
.social-box.twitter .icon-container {
  background-color: #00b6f1;
}
.social-box.twitter .text-container .inner span {
  color: #00b6f1;
}
/* Dribbble */
.social-box.dribbble .icon-container {
  background-color: #ea4c89;
}
.social-box.dribbble .text-container .inner span {
  color: #ea4c89;
}
/* Projects */
.social-box.projects .icon-container {
  background-color: #9f90e4;
}
.social-box.projects .text-container .inner span {
  color: #9f90e4;
}
/***** Tasks *****/
.social-box.tasks .icon-container {
  background-color: #6c7681;
}
.social-box.tasks .text-container .inner span {
  color: #6c7681;
}
/***** Events *****/
.social-box.posts .icon-container {
  background-color: #f15722;
}
.social-box.posts .text-container .inner span {
  color: #f15722;
}
/***** Timeline *****/
.timeline:before {
  background: none repeat scroll 0 0 #ffffff;
  content: "";
  display: block;
  height: 100%;
  left: 36px;
  margin-top: 5px;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: 0;
}
.timeline {
  float: left;
  margin-left: 50px;
  max-width: 560px;
  padding: 0;
  position: relative;
  width: 100%;
}
.timeline .timeline-event:first-child {
  margin-top: 0px;
}
.timeline-event {
  z-index: 100;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
}
.timeline-date {
  display: inline-block;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 5px solid #ffffff;
  background-color: #00aeef;
}
.timeline-date div {
  text-align: center;
  padding: 9px 0px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
}
.timeline-date div span {
  display: block;
  line-height: normal;
  font-size: 22px;
}
/***** Mail Page *****/
.mail-container .header {
  background-color: #343f51;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.mail-container .header ul li {
  display: inline-block;
  padding-right: 15px;
  padding: 10px 15px;
  border-right: 1px solid #1d2736;
}
.mail-container .header ul li i {
  padding-right: 7px;
}
.mail-container .header ul li a {
  color: #72879c;
}
.mail-container .header ul li a:hover {
  color: #ecf0f1;
}
.mail-container .actions {
  padding: 15px;
}
.mail-container .actions ul li {
  background-color: #ecf0f1;
  display: inline-block;
}
.mail-container .actions ul li i {
  color: #72879c;
}
.mail-container .actions ul li:first-child {
  padding: 6px 10px;
}
.mail-container .actions ul li a {
  padding: 6px 10px;
  display: block;
  color: #72879c;
}
.mail-container .actions ul li.no-bg {
  background-color: transparent;
  padding: 0px;
}
.mail-container .actions ul li button {
  margin: 0px !important;
  margin-bottom: 4px !important;
}
.mail-container .actions ul li input {
  width: 20px !important;
  margin: 0px !important;
}
.mail-container .actions ul li a:hover {
  background-color: #72879c;
  color: #ecf0f1;
}
.mail-container .actions ul li a:hover i {
  color: #ecf0f1;
}
.mail-container table.mail tr td {
  padding: 10px 0px;
}
.mail-container table.mail tr td.stared i.fa-star {
  color: #ffcc66;
}
.mail-container table.mail span.tag {
  display: inline-block;
  padding: 3px 12px;
  color: #ffffff;
  background-color: #5d6574;
  font-size: 12px;
}
.mail-container table.mail span.tag.social {
  background-color: #319bd7;
}
.mail-container table.mail span.tag.dribbble {
  background-color: #f14b94;
}
.mail-container table.mail span.tag.work {
  background-color: #60c36e;
}
.mail-container table.mail tr.checked {
  background-color: #e9f5fb;
}
.mail-container table.mail tr td:first-child {
  padding-left: 10px;
  width: 50px;
}
.mail-container table.mail tr td:nth-child(2) {
  width: 40px;
  text-align: center;
}
.mail-container table.mail tr td:nth-child(4) {
  width: 120px;
  text-align: center;
}
/***** Mail Compose *****/
form.mail-compose label {
  text-align: right;
}
form.mail-compose input {
  border: 0px;
  margin-bottom: 0px;
}
form.mail-compose input {
  height: 40px;
}
form.mail-compose input:focus {
  border: 0px;
  box-shadow: none;
}
form.mail-compose textarea {
  margin-top: 10px;
}
.mail-options li i {
  padding-right: 10px;
}
.mail-options li a {
  padding-bottom: 5px;
  display: block;
}
/***** 404 Page *****/
.error-404 {
  text-align: center;
  margin-top: 100px;
}
.error-404 i {
  font-size: 180px;
  color: #80969c;
}
.error-404 h1 {
  color: #1abc9c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 46px;
}
.error-404 h1 i {
  padding-right: 20px;
}
.error-404 h4 {
  font-weight: bold;
  padding-bottom: 30px;
}
.error-404 p {
  font-size: 14px;
  color: #80969c;
  font-weight: bold;
}
.error-404 a {
  color: #0384ce;
  font-weight: bold;
}
.error-404 a:after {
  font-family: 'FontAwesome';
  content: '\f0a9';
  color: #0384ce;
  padding-left: 8px;
  font-size: 16px;
}
.error-404 .search-form {
  max-width: 320px;
  margin: 0 auto;
}
.error-404 .search-form .search {
  padding-left: 20px;
  background: url('../images/search-focus.png') 280px center no-repeat #ffffff;
  border-radius: 25px;
  border: 1px solid #d9e0e1;
  height: 45px;
  line-height: 45px;
}
.error-404 .search-form .search::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #80969c;
}
.error-404 .search-form .search:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #80969c;
}
.error-404 .search-form .search::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #80969c;
}
.error-404 .search-form .search:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #80969c;
}
/***** 500 Page *****/
.error-500 {
  text-align: center;
  margin-top: 100px;
}
.error-500 i {
  font-size: 180px;
  color: #80969c;
}
.error-500 h1 {
  color: #1abc9c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 46px;
}
.error-500 h1 i {
  padding-right: 20px;
}
.error-500 h4 {
  font-weight: bold;
  padding-bottom: 30px;
}
.error-500 p {
  font-size: 14px;
  color: #80969c;
  font-weight: bold;
}
.error-500 a {
  color: #0384ce;
  font-weight: bold;
}
.error-500 a:after {
  font-family: 'FontAwesome';
  content: '\f0a9';
  color: #0384ce;
  padding-left: 8px;
}
/***** Profile Page *****/
.profile .title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 10px;
  margin-bottom: 25px;
  vertical-align: middle;
}
.profile .title:after {
  clear: both;
  display: block;
  content: '';
}
.profile .title h3 {
  display: inline-block;
  vertical-align: middle;
  color: #7B8B9D;
}
.profile .title .share-profile {
  font-size: 13px;
  display: inline-block;
  float: right;
  vertical-align: middle;
  color: #7B8B9D;
  line-height: 26px;
}
.profile .title .share-profile:after {
  content: '\f045';
  font-family: 'FontAwesome';
  color: #5ecad4;
  font-size: 14px;
  padding-left: 8px;
}
.profile h3 {
  padding-bottom: 10px !important;
}
.profile .profile-data .profile-avatar {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
  display: inline-block;
}
.profile .profile-data .send-msg {
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
.profile .profile-data .send-msg .btn {
  margin-left: 0px !important;
  font-weight: normal;
  font-size: 12px;
}
.profile .icon-list {
  margin-left: 0;
  margin-top: 8px;
  padding: 0;
}
.profile .icon-list li {
  padding-bottom: 7px;
  font-size: 13px;
  color: #7b8b9d;
}
.profile .icon-list li i {
  color: #5ecad4;
  min-width: 25px;
  text-align: center;
}
.profile .icon-list li a {
  color: #7f95a9;
}
.profile .icon-list li a:hover {
  color: #5ECAD4;
}
.profile .profile-stats {
  margin: 10px -5px 10px -5px;
  padding: 0;
}
.profile .profile-stats li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 25px 0px;
}
.profile .profile-stats li p {
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  margin: 0;
  padding: 0;
}
.profile .profile-stats li h3 {
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
}
.profile .profile-stats li.followers {
  background-color: #0384ce;
}
.profile .profile-stats li.following {
  background-color: #1abc9c;
}
.profile .profile-stats li.projects {
  background-color: #a78ed7;
}
.profile .profile-stats li.courses {
  background-color: #f86868;
}
.profile .about-me {
  padding: 20px 0px;
}
.profile .about-me p {
  font-size: 13px;
}
.profile .about-me h3 {
  margin-bottom: 15px;
  font-size: 21px;
}
.profile .footer {
  border-top: 1px solid #ecf0f1;
  padding-top: 10px;
  margin-top: 0px;
  vertical-align: middle;
}
.profile .footer h4 {
  line-height: 30px;
}
.profile .footer .profile-socials {
  text-align: right;
}
.profile .footer .profile-socials li {
  display: inline-block;
  padding-left: 5px;
}
.profile .footer .profile-socials li a {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
}
.profile .footer .profile-socials li a i {
  line-height: 35px;
  color: #ffffff;
  font-size: 19px;
}
.profile .footer .profile-socials li a.facebook {
  background-color: #335397;
}
.profile .footer .profile-socials li a.twitter {
  background-color: #00c7f7;
}
.profile .footer .profile-socials li a.pinterest {
  background-color: #cc2127;
}
.profile .footer .profile-socials li a.google-plus {
  background-color: #dd4a38;
}
.profile .footer .profile-socials li a.linkedin {
  background-color: #0073b2;
}
.profile .footer .profile-socials li a.dribbble {
  background-color: #e04c86;
}
/***** Dark Profile *****/
.profile.dark .inner {
  background-color: #233242;
}
.profile.dark .title,
.profile.dark .footer {
  border-color: #364b61;
}
.profile.dark .profile-data h3 {
  color: #ffffff;
}
.profile.dark .icon-list li {
  color: #7b8b9d;
}
.profile.dark .profile-stats li {
  background-color: #14202d !important;
  border-right: 1px solid #233242;
}
.profile.dark .profile-stats li:last-child {
  border-right: 0px;
}
.profile.dark .send-msg .btn {
  background-color: #36495e;
  color: #8093a6;
  border-color: #2b3e52;
}
.profile.dark .send-msg .btn:hover {
  background-color: #14202d;
  border-color: #2b3e52;
}
/***** Background Image Profile *****/
.profile.image .inner {
  background: url('../_demo/images/profile-background-blurred.png') top left no-repeat transparent;
  background-size: cover;
}
.profile.image .title,
.profile.image .footer {
  border-color: #ffffff;
}
.profile.image .title h3,
.profile.image .title a,
.profile.image .title a:after {
  color: #ffffff;
}
.profile.image .profile-data h3 {
  color: #ffffff;
}
.profile.image .icon-list li {
  color: #ffffff;
}
.profile.image .icon-list li i {
  color: #ffffff;
}
.profile.image .icon-list li a {
  color: #ffffff;
}
.profile.image .icon-list li a:hover {
  color: #14202d;
}
.profile.image .profile-stats li p {
  color: #ffffff;
}
.profile.image .profile-stats li h3 {
  color: #ffffff;
}
.profile.image .profile-stats li.followers {
  background-color: rgba(3, 132, 206, 0.5);
}
.profile.image .profile-stats li.following {
  background-color: rgba(26, 188, 156, 0.5);
}
.profile.image .profile-stats li.projects {
  background-color: rgba(167, 142, 215, 0.5);
}
.profile.image .profile-stats li.courses {
  background-color: rgba(248, 104, 104, 0.5);
}
.profile.image .about-me h3,
.profile.image .about-me p {
  color: #ffffff;
}
.profile.image .footer h4 {
  color: #ffffff;
}
/***** Pricing Table *****/
.pricing-table {
  display: inline-block;
  margin-bottom: 25px;
}
.pricing-table .pricing-table-description {
  display: inline-block;
  max-width: 280px;
  vertical-align: top;
}
.pricing-table .pricing-table-description .pre-header {
  padding: 10px 0px;
  font-size: 16px;
}
.pricing-table .pricing-table-description .header {
  border-top-left-radius: 5px;
  background: url('../images/pricing-table/dark-arrow.jpg') top right no-repeat #233242;
  padding: 20px 35px 20px 20px;
  font-size: 20px;
  color: #ffffff;
  min-height: 132px;
  line-height: 90px;
}
.pricing-table .pricing-table-description .pt-row {
  background-color: #1c2835;
  text-align: left;
  color: #ffffff;
  padding: 15px 35px 15px 20px;
  font-size: 14px;
  font-weight: bold;
}
.pricing-table .pricing-table-description .pt-row .space {
  height: 37px;
}
.pricing-table .pricing-table-description div:nth-child(2n) {
  background-color: #233242;
}
.pricing-table .pricing-table-description .pt-row:last-child {
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.pricing-table .pricing-table-package {
  display: inline-block;
  max-width: 280px;
  vertical-align: top;
  margin-left: -3px;
  margin-top: 3px;
}
.pricing-table .pricing-table-package:hover .header {
  background-color: #2a3b4d;
  font-size: 26px;
}
.pricing-table .pricing-table-package:hover .pt-row {
  background-color: #263646;
}
.pricing-table .pricing-table-package:hover .pt-row:nth-child(2n) {
  background-color: #2a3b4d;
}
.pricing-table .pricing-table-package .pre-header {
  padding: 10px 50px;
  margin: 0px 10px;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 14px;
  text-transform: uppercase;
}
.pricing-table .pricing-table-package:last-of-type .pre-header {
  margin: 0px 0px 0px 10px;
}
.pricing-table .pricing-table-package:last-of-type .pt-row:last-child {
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.pricing-table .pricing-table-package .pre-header.orange {
  background-color: #f15722;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.pricing-table .pricing-table-package .pre-header.blue {
  background-color: #43609c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.pricing-table .pricing-table-package .pre-header.green {
  background-color: #17a697;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.pricing-table .pricing-table-package .header {
  background-color: #233242;
  padding: 20px 0px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  min-height: 132px;
  line-height: 90px;
}
.pricing-table .pricing-table-package .pt-row {
  background-color: #1c2835;
  text-align: center;
  color: #ffffff;
  padding: 15px 0px;
}
.pricing-table .pt-row i.fa-times-circle {
  color: #f86868;
}
.pricing-table .pt-row i.fa-check {
  color: #5ecad4;
}
.pricing-table.light .pt-row i.fa-check {
  color: #17a697;
}
.pricing-table .pricing-table-package .pt-row:nth-child(2n) {
  background-color: #233242;
}
/* Light Pricing Tables */
.pricing-table.light .pricing-table-description .header {
  color: #69829f;
  border-left: 1px solid #c3cfdd;
  border-top: 1px solid #c3cfdd;
  background: url('../images/pricing-table/light-arrow.jpg') top right no-repeat #e3ebf4;
}
.pricing-table.light .pricing-table-description .pt-row {
  background-color: #c3cfdd;
  border-left: 1px solid #c3cfdd;
  color: #69829f;
}
.pricing-table.light .pricing-table-description .pt-row:last-child {
  border-left: 1px solid #c3cfdd;
  border-bottom: 1px solid #c3cfdd;
}
.pricing-table.light .pricing-table-description div:nth-child(2n) {
  background-color: #e3ebf4;
}
.pricing-table.light .pricing-table-package:hover .header {
  background-color: #d3dde8;
  font-size: 26px;
}
.pricing-table.light .pricing-table-package:hover .pt-row {
  background-color: #c3cfdd;
}
.pricing-table.light .pricing-table-package:hover .pt-row:nth-child(2n) {
  background-color: #d3dde8;
}
.pricing-table.light .pricing-table-package .header {
  background-color: #e3ebf4;
  border-top: 1px solid #c3cfdd;
  color: #69829f;
}
.pricing-table.light .pricing-table-package .pt-row {
  background-color: #c3cfdd;
  color: #69829f;
}
.pricing-table.light .pricing-table-package .pt-row:last-child {
  border-bottom: 1px solid #c3cfdd;
}
.pricing-table.light .pricing-table-package .pt-row:nth-child(2n) {
  background-color: #e3ebf4;
}
.pricing-table.light .pricing-table-package:last-of-type .header,
.pricing-table.light .pricing-table-package:last-of-type .pt-row {
  border-right: 1px solid #c3cfdd;
}
/***** Message Boxes *****/
.message-box {
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #dadada;
  padding: 8px 14px;
  display: inline-block;
  overflow: hidden;
}
.message-box p {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.message-box i {
  display: inline-block;
  padding-right: 10px;
}
.message-box.info {
  background-color: #27a5f9;
}
.message-box.info p,
.message-box.info i {
  color: #ffffff;
}
/***** Effect Button *****/
.effect-button {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  padding: 15px 0px;
  margin: 10px 0px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.effect-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.effect-button i {
  padding-right: 12px;
}
.effect-button.bounce-button {
  background-color: #198e32;
}
.effect-button.flash-button {
  background-color: #a78ed7;
}
.effect-button.pulse-button {
  background-color: #ef5233;
}
.effect-button.shake-button {
  background-color: #f7cc52;
}
.effect-button.swing-button {
  background-color: #3156a3;
}
.effect-button.tada-button {
  background-color: #c5d2e3;
}
.effect-button.wobble-button {
  background-color: #ff3399;
}
.effect-button.bouncein-button {
  background-color: #616161;
}
.effect-button.bounceindown-button {
  background-color: #42b3e5;
}
.effect-button.bounceinleft-button {
  background-color: #ff6600;
}
.effect-button.bounceinright-button {
  background-color: #70cdcf;
}
.effect-button.bounceinup-button {
  background-color: #638ca6;
}
.effect-button.fadein-button {
  background-color: #66cc66;
}
.effect-button.fadeinleft-button {
  background-color: #99ccff;
}
.effect-button.fadeout-button {
  background-color: #cc0099;
}
.effect-button.fadeoutright-button {
  background-color: #9e3d21;
}
.effect-button.flip-button {
  background-color: #91a1be;
}
.effect-button.flipinx-button {
  background-color: #50c3ca;
}
.effect-button.flipiny-button {
  background-color: #68a3c2;
}
.effect-button.lightspeedin-button {
  background-color: #6b7252;
}
.effect-button.lightspeedout-button {
  background-color: #7a4e68;
}
.effect-button.rotatein-button {
  background-color: #ff6457;
}
.effect-button.rotateindownleft-button {
  background-color: #748392;
}
.effect-button.rotateindownright-button {
  background-color: #e21d3c;
}
.effect-button.rotateinupleft-button {
  background-color: #007891;
}
.effect-button.rotateinupright-button {
  background-color: #ef528a;
}
.effect-button.slideindown-button {
  background-color: #c28bd6;
}
.effect-button.slideinleft-button {
  background-color: #34bedc;
}
.effect-button.slideinright-button {
  background-color: #ffb594;
}
.effect-button.hinge-button {
  background-color: #bb3694;
}
.effect-button.rollin-button {
  background-color: #b4d3d8;
}
.effect-button.rollout-button {
  background-color: #986c78;
}
.effect-button.rotateout-button {
  background-color: #d0783d;
}
/***** Google Maps *****/
.google-maps-container {
  height: 286px;
}
.google-maps-container > div {
  height: 100%;
}
/***** Charts *****/
.chart {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  color: #7f95a9;
  overflow: hidden;
}
.chart .area {
  padding: 15px 25px;
}
.chart-tooltip {
  border-radius: 3px;
  background-color: #233242 !important;
  border: 0px !important;
  color: #ffffff;
  padding: 10px 20px !important;
  font-size: 13px;
}
.chart .title-bar .close-box {
  display: inline-block;
  float: right;
  color: #5d4bb0;
}
.chart .title-bar .close-box:after {
  clear: both;
  display: block;
}
.chart .title-bar .close-box i {
  color: #5d4bb0 !important;
  padding: 0px !important;
  font-size: 26px !important;
}
/***** Revenue Chart *****/
.chart.revenue .title-bar {
  margin-bottom: 20px;
}
.chart.revenue .title-bar i {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  padding-right: 15px;
}
.chart.revenue .title-bar h3 {
  color: #ffffff;
  margin: 0;
  display: inline-block;
}
.chart.revenue .flot-tick-label {
  font-weight: bold;
  color: #9f90e4;
  font-size: 12px;
}
.chart.revenue .area {
  background: #998ae0;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5OThhZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2M2YmNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #998ae0 0%, #7c6bca 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #998ae0), color-stop(100%, #7c6bca));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #998ae0 0%, #7c6bca 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #998ae0 0%, #7c6bca 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #998ae0 0%, #7c6bca 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #998ae0 0%, #7c6bca 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#998ae0', endColorstr='#7c6bca', GradientType=1);
  /* IE6-8 fallback on horizontal gradient */

}
.chart .table .title-bar {
  margin-bottom: 3px;
  padding: 0px 20px;
  margin-top: 20px;
}
.chart .table .title-bar i {
  color: #2c3e50;
  display: inline-block;
  font-size: 14px;
  padding-right: 3px;
}
.chart .table .title-bar h5 {
  color: #2c3e50;
  display: inline-block;
  font-size: 12px;
}
/***** Donut Chart *****/
.chart canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}
.chart svg {
  width: 100%;
  max-width: 800px !important;
}
.chart .table .small-chart-container {
  margin-top: -50px;
  max-width: 450px;
  height: 300px;
  display: block;
}
.chart ul.chart-legend {
  margin-top: 20px;
}
.chart ul.chart-legend li {
  padding-bottom: 5px;
  line-height: 15px;
  vertical-align: middle;
}
.chart ul.chart-legend li span {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.chart ul.chart-legend li:nth-child(1) span {
  background-color: #3366cc;
}
.chart ul.chart-legend li:nth-child(2) span {
  background-color: #dc3912;
}
.chart ul.chart-legend li:nth-child(3) span {
  background-color: #ff9900;
}
.chart ul.chart-legend li:nth-child(4) span {
  background-color: #109618;
}
.chart ul.chart-legend li:nth-child(5) span {
  background-color: #990099;
}
.chart ul[data-pie-id] {
  display: none;
}
.chart ul[data-pie-id] li:nth-child(1) {
  color: #3366cc;
}
.chart ul[data-pie-id] li:nth-child(2) {
  color: #dc3912;
}
.chart ul[data-pie-id] li:nth-child(3) {
  color: #ff9900;
}
.chart ul[data-pie-id] li:nth-child(4) {
  color: #109618;
}
.chart ul[data-pie-id] li:nth-child(5) {
  color: #990099;
}
/***** Week Sales Chart *****/
.chart.week-sales .title-bar {
  margin-bottom: 20px;
}
.chart.week-sales .flot-tick-label {
  font-weight: bold;
  color: #359da6;
  font-size: 16px;
}
.chart.week-sales .title-bar i {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  padding-right: 15px;
}
.chart.week-sales .title-bar h3 {
  color: #ffffff;
  margin: 0;
  display: inline-block;
}
.chart.week-sales .title-bar .close-box i {
  color: #359da6 !important;
  padding: 0px !important;
  font-size: 26px !important;
}
.chart.week-sales .area {
  background: #b5e2e5;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNiNWUyZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDljOGQxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #b5e2e5 0%, #49c8d1 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #b5e2e5), color-stop(100%, #49c8d1));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #b5e2e5 0%, #49c8d1 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #b5e2e5 0%, #49c8d1 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #b5e2e5 0%, #49c8d1 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #b5e2e5 0%, #49c8d1 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#b5e2e5', endColorstr='#49c8d1', GradientType=1);
  /* IE6-8 fallback on horizontal gradient */

}
.chart .table .title-bar {
  margin-bottom: 3px;
  padding: 0px 20px;
  margin-top: 20px;
}
.chart .table .title-bar i {
  color: #2c3e50;
  display: inline-block;
  font-size: 14px;
  padding-right: 3px;
}
.chart .table .title-bar h5 {
  color: #2c3e50;
  display: inline-block;
  font-size: 16px;
}
.chart .monthly-sales-summary {
  padding: 0px 20px;
}
.chart .monthly-sales-summary .sales:after {
  clear: both;
  content: '';
  display: block;
}
.chart .monthly-sales-summary .month {
  width: 55%;
  display: inline-block;
  color: #5ac8d2;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 10px;
}
.chart .monthly-sales-summary .sales {
  width: 42%;
  display: inline-block;
  color: #8ca2b7;
  font-size: 13px;
  text-align: right;
  padding-bottom: 10px;
}
.chart .monthly-revenue-summary {
  padding: 0px 20px;
}
.chart .monthly-revenue-summary .sales:after {
  clear: both;
  content: '';
  display: block;
}
.chart .monthly-revenue-summary .month {
  width: 55%;
  display: inline-block;
  color: #7e6dcc;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 10px;
}
.chart .monthly-revenue-summary .sales {
  width: 42%;
  display: inline-block;
  color: #8ca2b7;
  font-size: 13px;
  text-align: right;
  padding-bottom: 10px;
}
/***** Buttons *****/
.btn {
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0px 5px 5px !important;
  min-width: 85px;
  padding: 6px 12px;
}
.btn-lg {
  min-width: 110px;
  padding: 9px 15px;
}
.btn-xs {
  font-size: 11px;
  padding: 4px 2px;
  min-width: 70px;
}
.btn-xs i {
  font-size: 11px;
}
.btn-round {
  border-radius: 20px;
}
.btn.dropdown-toggle {
  min-width: 10px !important;
  margin-left: -1px !important;
  margin-right: 5px !important;
}
.btn i {
  padding-right: 5px;
}
.btn-default {
  color: #8093a6;
}
.btn-primary {
  background-color: #0384ce;
  border-color: #0177ba;
}
.btn-success {
  background-color: #61ae24;
  border-color: #4f9518;
}
.btn-info {
  background-color: #42b3e5;
  border-color: #1f96da;
}
.btn-warning {
  background-color: #f38630;
  border-color: #e17622;
}
.btn-danger {
  background-color: #dd0000;
  border-color: #880000;
}
/***** Cooming Soon *****/
html.coming-soon {
  height: 100%;
}
body.coming-soon {
  background: url('../_demo/images/coming-soon.jpg') top left no-repeat;
  background-size: cover;
  height: 100%;
}
body.coming-soon div.container,
body.coming-soon div.row,
body.coming-soon div.row > div {
  height: 100%;
}
.coming-soon-box {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 850px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 50%;
  margin-top: -220px;
}
.coming-soon-box .inner {
  padding: 35px 20px;
}
.coming-soon-box .header i {
  font-size: 46px;
  display: inline-block;
  color: #ffff66;
  padding-right: 20px;
}
.coming-soon-box h3 {
  font-weight: bold;
  text-transform: uppercase;
}
.coming-soon-box h3,
.coming-soon-box p {
  text-align: left;
  margin-bottom: 1px;
  color: #ffffff;
}
.coming-soon-box .text {
  display: inline-block;
}
.coming-soon-counter {
  padding-top: 25px;
}
.coming-soon-counter li {
  display: inline-block;
  margin: 0px 20px;
  text-align: center;
}
.coming-soon-counter li .circle-counter {
  display: inline-block;
  border-radius: 50%;
  border: 10px solid #1abc9c;
  width: 145px;
  height: 145px;
  line-height: 125px;
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
}
.coming-soon-counter li .circle-counter.hours {
  border-color: #de5373;
}
.coming-soon-counter li .circle-counter.minutes {
  border-color: #0384ce;
}
.coming-soon-counter li .circle-counter.seconds {
  border-color: #ff9900;
}
.coming-soon-counter li .counter-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
}
.get-back {
  padding-top: 25px;
}
.get-back a {
  font-size: 18px;
  color: #ffffff !important;
}
/***** Forms *****/
/* Focus */
::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #b7c9cd;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #b7c9cd;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #b7c9cd;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #b7c9cd;
}
/* Input States */
.focused {
  -webkit-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  -moz-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
}
/** Error **/
input.error {
  border: 1px solid #d93240 !important;
  background-color: #e39097;
}
input.error::-webkit-input-placeholder {
  color: #662329;
}
input.error:-moz-placeholder {
  color: #662329;
}
input.error::-moz-placeholder {
  color: #662329;
}
input.error:-ms-input-placeholder {
  color: #662329;
}
/** Warning **/
input.warning {
  border: 1px solid #f38630 !important;
  background-color: #efd0b7;
}
input.warning::-webkit-input-placeholder {
  color: #3e6123;
}
input.warning:-moz-placeholder {
  color: #3e6123;
}
input.warning::-moz-placeholder {
  color: #3e6123;
}
input.warning:-ms-input-placeholder {
  color: #3e6123;
}
/** Success **/
input.success {
  border: 1px solid #61ae24 !important;
  background-color: #bde0a2;
}
input.success::-webkit-input-placeholder {
  color: #3e6123;
}
input.success:-moz-placeholder {
  color: #3e6123;
}
input.success::-moz-placeholder {
  color: #3e6123;
}
input.success:-ms-input-placeholder {
  color: #3e6123;
}
/* Input Help */
p.help {
  color: #72879c;
}
/***** Wizard Form *****/
.wizard-form-success {
  display: none;
  text-align: center;
  padding: 20px 40px;
}
.wizard-form .navbar {
  background-color: #dae4e6;
  min-height: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.wizard-form .navbar ul.nav {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.wizard-form ul.nav li:before,
.wizard-form ul.nav li:after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) -moz-use-text-color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.05);
  border-image: none;
  border-style: solid none solid solid;
  border-width: 26px 0 26px 16px;
  content: "";
  position: absolute;
  right: -16px;
  z-index: 1;
}
.wizard-form ul li:after {
  border-left-color: #ffffff;
  right: -9px;
  z-index: 2;
}
.wizard-form ul.nav li.active:before,
.wizard-form ul.nav li.active:after {
  border-left-color: #72879c;
}
.wizard-form ul.nav li:after {
  border-left-color: #F5F5F5;
  right: -9px;
  z-index: 2;
}
.wizard-form .navbar ul.nav li:first-child {
  margin-left: 0px;
}
.wizard-form .navbar ul.nav li {
  margin-left: 25px;
}
.wizard-form .navbar ul.nav a {
  border-radius: 0px !important;
  height: 52px;
  line-height: 32px;
}
.wizard-form ul.nav li.active a {
  background-color: #72879c;
  font-weight: bold;
}
.wizard-form ul.nav .step-info {
  border-radius: 50%;
  background-color: #5ecad4;
  color: #ffffff;
  font-weight: bold;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin-right: 12px;
}
.step-content input.error {
  border: 1px solid #ff0000;
  color: #ff0000;
  background-color: transparent;
}
/***** Basic Form *****/
.basic-form {
  padding: 20px;
}
.basic-form.no-padding {
  padding: 0px;
}
.basic-form label,
form label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #72879c;
  margin: 10px 0px;
}
.basic-form input,
.basic-form textarea,
.basic-form select,
form input,
form textarea,
form select {
  display: block;
  border: 1px solid #c6ced0;
  border-radius: 3px;
  padding: 7px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  resize: none;
}
form input[type="checkbox"],
.basic-form input[type="checkbox"] {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}
form input[type="checkbox"].block {
  display: block;
  width: 100%;
}
form .icheck-label {
  display: inline-block;
}
form input:focus,
.basic-form input:focus {
  border: 1px solid #d6dfe1;
  -webkit-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  -moz-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
}
form .description {
  font-size: 11px;
  color: #b6bfc1;
}
.basic-form .left-side {
  width: 49%;
  display: inline-block;
  text-align: left;
  float: left;
}
.basic-form .right-side {
  width: 49%;
  display: inline-block;
  text-align: right;
  float: right;
}
/***** Full Form *****/
.full-form {
  padding: 20px;
}
.full-form label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #72879c;
  width: 100%;
  vertical-align: top;
}
.full-form input,
.full-form textarea,
.full-form select {
  vertical-align: top;
  display: block;
  border: 1px solid #d6dfe1;
  border-radius: 3px;
  padding: 7px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.full-form input[type="checkbox"],
.full-form input[type="radio"] {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}
.full-form input:focus {
  border: 1px solid #d6dfe1;
  -webkit-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  -moz-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
}
.full-form .col-md-3,
.full-form .col-md-9 {
  margin-bottom: 10px;
}
/***** Horizontal Form ******/
.horizontal-form label {
  display: inline-block;
  width: 100%;
}
.horizontal-form input {
  display: inline-block;
  width: 100%;
}
/* Inline Form */
.inline-form label {
  display: block;
  width: auto;
  margin-right: 0px;
  text-align: right;
}
.inline-form input {
  display: inline-block;
  width: 300px;
  margin-right: 15px;
}
.inline-form .left-side {
  float: none;
  width: auto;
  margin-right: 15px;
}
.inline-form .right-side {
  float: none;
  width: auto;
}
/***** Calendar *****/
.boxed.calendar .inner {
  border-top-right-radius: 0px !important;
}
#calendar-events h4 {
  margin-bottom: 14px;
}
#calendar-events .event {
  display: block;
  border-radius: 5px;
  width: 100%;
  background-color: #ecf0f1;
  padding: 5px 12px;
  color: #7b8b9d;
  margin-bottom: 8px;
}
#calendar-events .event.urgent {
  background-color: #f86868;
  color: #ffffff;
}
#calendar-events .event.every-day {
  background-color: #00aeef;
  color: #ffffff;
}
#calendar-events .event.deadlines {
  background-color: #ffcc33;
  color: #ffffff;
}
.fc-header {
  position: relative;
}
.fc-button-month.fc-state-default,
.fc-button-agendaWeek.fc-state-default,
.fc-button-agendaDay.fc-state-default {
  background-color: transparent;
  box-shadow: none !important;
  color: #72879c;
  font-size: 14px !important;
}
.fc-button-month.fc-state-active,
.fc-button-agendaWeek.fc-state-active,
.fc-button-agendaDay.fc-state-active {
  background-image: none !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
  color: #5ecad4;
}
.fc-button-month,
.fc-button-agendaWeek,
.fc-button-agendaDay {
  height: auto !important;
  top: -46px;
  right: -20px;
  background-color: #ffffff;
  background-image: none !important;
  margin: 0px 8px !important;
  border-radius: 3px 5px 0px 0px !important;
  border: 0px !important;
  padding: 4px 12px !important;
}
.fc-button-month {
  border-bottom-left-radius: 0px !important;
}
.fc-button-agendaDay {
  border-bottom-right-radius: 0px !important;
}
.fc-header-right span:last-of-type {
  margin-right: 0px !important;
}
.fc-button-prev {
  background-color: #ffffff !important;
  background-image: none !important;
  border: 0px !important;
  box-shadow: none !important;
}
.fc-button-next {
  position: absolute !important;
  right: 0 !important;
  background-color: #ffffff !important;
  background-image: none !important;
  border: 0px !important;
  box-shadow: none !important;
}
.fc-event {
  padding: 5px 12px;
  border-color: transparent;
  font-size: 12px;
}
.fc-event.urgent {
  background-color: #f86868;
}
.fc-event.every-day {
  background-color: #00aeef;
}
.fc-event.deadlines {
  background-color: #ffcc33;
}
/***** Tables *****/
.table-holder {
  padding: 0px 25px 20px 25px;
}
table {
  width: 100%;
}
table thead {
  border-bottom: 1px solid #b7c9cd;
}
table thead th {
  color: #72879c;
  font-weight: bold;
}
table tbody tr {
  border-bottom: 1px solid #d9e3e5;
}
table tbody tr:last-child {
  border-bottom: 0px !important;
}
table.theme-table thead th,
table.theme-table tbody td {
  /*min-width: 125px;*/

  text-align: left;
  height: 50px;
}
table thead th.id,
table tbody td.id {
  width: 35px;
  min-width: 10px !important;
  text-align: center;
}
/* Stripe Rows */
table.stripe-rows tr:nth-child(2n) {
  background-color: #ecf0f1;
}
table.stripe-rows a.edit i,
table.stripe-rows a.remove i {
  font-size: 14px;
}
table.stripe-rows a.edit i {
  padding-right: 10px;
  color: #00b6f1;
}
table.stripe-rows a.remove i {
  color: #f56333;
}
span.in-progress,
span.shipped {
  display: inline-block;
  background-color: #61ae24;
  padding: 4px 10px;
  border-radius: 0px !important;
  color: #ffffff;
  margin-bottom: 0px;
  text-align: center;
  width: 105px;
  border: 1px solid #49821d;
}
span.delayed {
  display: inline-block;
  background-color: #cc2127;
  padding: 4px 10px;
  border-radius: 0px !important;
  color: #ffffff;
  text-align: center;
  width: 105px;
  border: 1px solid #a81218;
}
span.on-hold {
  display: inline-block;
  background-color: #42b3e5;
  padding: 4px 10px;
  border-radius: 0px !important;
  color: #ffffff;
  text-align: center;
  width: 105px;
  border: 1px solid #1f96da;
}
/* Contextual Table */
table tbody tr.warning {
  background-color: #f2dede;
}
table tbody tr.success {
  background-color: #dff0d8;
}
table tbody tr.error {
  background-color: #fcf8e3;
}
/***** Tocify *****/
.tocify-box {
  border-radius: 3px;
  overflow: hidden;
  position: fixed;
  width: 375px;
}
.tocify-box .inner {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 3px 0 #DBDFE0;
  color: #7F95A9;
  margin-bottom: 20px;
}
.tocify-box .tocify-box-header {
  padding: 15px 16px;
  background-color: #0384ce;
}
.tocify-box .tocify-box-header h4 {
  color: #ffffff;
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
}
.tocify-subheader {
  margin-left: 15px;
}
.tocify-item a {
  color: #0384ce;
  font-weight: bold;
}
.tocify-item a:before {
  content: '\f0da';
  font-family: 'FontAwesome';
  color: #0384ce;
  padding-right: 8px;
  font-size: 12px;
}
.tocify-item.active a,
.tocify-item.active a:before {
  color: #ff6600;
}
.tocify-content h2 {
  color: #0384ce;
  margin-bottom: 15px !important;
  font-weight: normal;
  font-size: 22px;
}
.tocify-content h3 {
  color: #0384ce;
  margin-bottom: 15px !important;
  font-weight: normal;
  font-size: 18px;
}
/***** Popovers *****/
.btn-red {
  background-color: #dd0000;
  border-color: #dd0000;
  color: #ffffff;
}
.btn-red:hover {
  color: #fff;
}
.popover-primary {
  background-color: #233242;
  color: #8093a6;
  border: 0px !important;
}
.popover-primary .popover-title {
  padding: 8px 14px !important;
  color: #ffffff;
  background-color: #37495d !important;
  border-bottom: 0px !important;
}
.popover-secondary {
  background-color: #eb6666;
  color: #ffffff;
  border: 0px !important;
}
.popover-secondary .popover-title {
  padding: 8px 14px !important;
  color: #ffffff;
  background-color: #dd0000 !important;
  border-bottom: 0px !important;
}
.popover-default .popover-title,
.popover .popover-title {
  padding: 8px 14px !important;
}
/***** Progress Bars *****/
.progress {
  border-radius: 15px !important;
}
/***** Tabs *****/
.tab-pane {
  padding: 15px;
}
.nav-tabs.align-right li {
  display: inline-block;
  float: none;
}
.nav-tabs.align-right {
  text-align: right;
}
/***** Vertical Tabs *****/
.ui-tabs {
  background-color: transparent !important;
  background: none !important;
  border: 0px !important;
}
.ui-tabs-nav {
  border: 0px !important;
  background: none !important;
  width: 20% !important;
}
.nav-tabs {
  background-color: #8d9aaa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0px !important;
}
.nav-tabs li {
  margin-bottom: -2px !important;
}
.nav-tabs > li > a {
  color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  border: 0px;
  margin-right: 0px;
  font-size: 14px;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
  font-weight: bold;
  color: #ffffff;
  border: 0px;
}
.nav-tabs > li.active > a {
  color: #8d9aaa;
  font-weight: bold;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0px !important;
}
.ui-tabs-panel {
  width: 80% !important;
  padding: 5px 20px !important;
}
.vertical-tabs {
  margin-bottom: 20px;
}
.vertical-tabs .ui-tabs-panel {
  border-radius: 5px;
  padding: 12px 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  color: #7f95a9;
}
.ui-tabs-panel h1,
.ui-tabs-panel h2,
.ui-tabs-panel h3,
.ui-tabs-panel h4,
.ui-tabs-panel h5 {
  margin: 0px 0px 8px 0px !important;
}
.ui-tabs-nav li a {
  font-size: 14px;
  font-family: 'Lato';
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  border: 0px solid #dddddd !important;
  border-right: 0px !important;
  background-color: #ffffff !important;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
  color: #555555;
}
.ui-tabs-vertical .ui-tabs-nav li {
  border: 0px solid #dddddd;
  background: none !important;
  border-bottom-width: 0px !important;
}
.ui-tabs-vertical .ui-tabs-nav li a {
  color: #8d9aaa;
  font-weight: normal;
}
.ui-tabs-vertical .ui-tabs-nav li a i {
  padding-right: 10px;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
  color: #8d9aaa;
}
.ui-tabs-vertical .ui-tabs-nav {
  padding: 0px !important;
}
.ui-tabs-vertical {
  width: 100%;
}
.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em;
  /*background-color: #8d9aaa !important;*/

  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-right-width: 0 !important;
  margin: 0 -1px 0.2em 0;
}
.ui-tabs-vertical.align-right .ui-tabs-nav {
  right: 0px;
  left: -2px;
}
.ui-tabs-vertical .ui-tabs-nav {
  position: relative;
  right: -2px;
  z-index: 9;
}
.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
  padding: 10px 8px 10px 20px !important;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
  border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
  padding: 20px 20px !important;
  float: right;
  width: 40em;
  position: relative;
  z-index: 99;
}
.ui-widget {
  font-size: inherit;
}
/***** Vertical Tabs - Align Right *****/
.vertical-tabs.align-right .ui-tabs-nav {
  float: right;
}
.vertical-tabs.align-right .ui-tabs-nav {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.vertical-tabs.align-right .ui-tabs-nav li {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/***** Vertical Tabs - Light Blue *****/
.vertical-tabs.light-green .ui-tabs-nav {
  background-color: #1abc9c !important;
}
.vertical-tabs.light-green .ui-tabs-nav li a {
  color: #ffffff;
}
.vertical-tabs.light-green .ui-tabs-nav li.ui-tabs-active a i {
  color: #1abc9c !important;
}
.vertical-tabs.light-green .ui-tabs-nav li.ui-tabs-active a {
  color: #8d9aaa !important;
}
/***** Accordions *****/
.ui-accordion {
  margin-bottom: 30px !important;
}
.ui-accordion .ui-accordion-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 0px solid #dddddd;
  background-color: #ffffff;
  color: #7f95a9;
  margin-bottom: 5px !important;
  padding: 12px 16px !important;
  font-weight: bold;
}
.ui-accordion .ui-accordion-header.ui-state-hover {
  background: #ffffff;
}
.ui-accordion .ui-accordion-header.ui-state-default {
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  background-image: none !important;
}
.ui-accordion .ui-accordion-header-active {
  margin-bottom: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.ui-accordion .ui-accordion-content {
  margin-bottom: 7px;
  border: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px 20px;
  background: none #ffffff;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  color: #7f95a9;
}
.ui-accordion .ui-accordion-header-icon {
  right: 20px;
  left: auto !important;
  background: none !important;
  text-indent: 0px !important;
}
.ui-accordion .ui-accordion-header-icon:after {
  content: '\f067';
  font-family: 'FontAwesome';
  color: #1abc9c;
  display: inline-block;
  font-size: 14px;
  text-indent: 0px !important;
}
.ui-accordion .ui-state-active .ui-accordion-header-icon:after {
  content: '\f068';
  font-family: 'FontAwesome';
  color: #7b8b9d;
  display: inline-block;
  font-size: 14px;
}
.ui-accordion .ui-accordion-open {
  background: none !important;
  text-indent: 0 !important;
}
.ui-accordion .ui-accordion-open:before {
  font-family: 'FontAwesome';
  content: '\f07c';
  display: inline-block;
  font-size: 14px;
  color: #2c3e50;
}
.ui-accordion .ui-accordion-close {
  background: none !important;
  text-indent: 0 !important;
}
.ui-accordion .ui-accordion-close:before {
  font-family: 'FontAwesome';
  content: '\f07b';
  display: inline-block;
  font-size: 14px;
  color: #2c3e50;
}
.ui-accordion .ui-accordion-close {
  font-family: 'FontAwesome';
}
.ui-accordion h3 i {
  padding-right: 10px;
}
/***** Login Page *****/
body.login-page {
  background: url('../_demo/images/login-background.jpg') top left no-repeat transparent;
  background-size: cover;
}
body.login-page .login-page-container {
  width: 320px;
  position: relative;
  margin: 0 auto;
}
body.login-page .login-page-container * {
  line-height: normal;
}
body.login-page .boxed {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}
body.login-page .input-group {
  margin-bottom: 10px;
  height: 39px;
}
body.login-page .input-group input {
  height: 39px;
}
body.login-page .input-group i {
  color: #ffffff;
}
body.login-page .input-group-addon {
  background-color: #3366cc;
}
body.login-page #submit {
  margin: 0px !important;
  display: inline-block;
  width: 100%;
  background-color: #1abc9c;
  border-color: #0e9b7f;
  text-align: left;
  background-image: url('../images/arrow-right.png');
  background-position: 250px center;
  background-repeat: no-repeat;
}
body.login-page p.footer {
  text-align: center;
  margin-top: 10px;
}
.login-title {
  padding-bottom: 20px;
}
.login-box {
  width: 520px;
  background-color: #233242;
  border-radius: 3px !important;
  border: 1px solid #2e4053;
  display: inline-block;
  text-align: center;
  line-height: normal;
}
.login-box {
  width: 520px;
  background-color: #233242;
  border-radius: 3px !important;
  border: 1px solid #2e4053;
  display: inline-block;
  text-align: center;
  line-height: normal;
}
/***** Register Page *****/
body.register-page {
  background: url('../_demo/images/register-background.jpg') top left no-repeat transparent;
  background-size: cover;
}
body.register-page .register-page-container {
  width: 380px;
  position: relative;
  margin: 0 auto;
}
body.register-page .register-page-container * {
  line-height: normal;
}
body.register-page .boxed {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -200px;
}
body.register-page .input-group {
  margin-bottom: 10px;
  height: 39px;
}
body.register-page .input-group input {
  height: 39px;
}
body.register-page .input-group i {
  color: #ffffff;
}
body.register-page .input-group-addon {
  background-color: #3366cc;
}
body.register-page #submit {
  margin: 0px !important;
  display: inline-block;
  width: 100%;
  background-color: #1abc9c;
  border-color: #0e9b7f;
  text-align: left;
  background-image: url('../images/arrow-right.png');
  background-position: 310px center;
  background-repeat: no-repeat;
}
body.register-page p.footer {
  text-align: center;
  margin-top: 10px;
}
.register-box {
  width: 520px;
  background-color: #233242;
  border-radius: 3px !important;
  border: 1px solid #2e4053;
  display: inline-block;
  text-align: center;
  line-height: normal;
}
.login-box p.title {
  color: #ffffff;
  font-size: 16px;
}
.login-box p.footer {
  color: #ffffff;
  padding: 15px 0px;
}
.login-box p.info {
  color: #5ecad4;
}
.login-box .input-group {
  margin-bottom: 15px;
}
.login-box .input-group-addon i {
  color: #5ecad4;
}
.login-box .input-group-addon {
  background-color: #182534;
  border: 1px solid #2c3d50;
  border-right: 0px !important;
}
.login-box input {
  background-color: #182534;
  border: 1px solid #2c3d50;
}
.login-box input[type="submit"] {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #5ecad4;
  background-color: #5ecad4;
  color: #25777f;
  height: 35px;
  font-weight: bold;
  font-size: 14px;
}
/* Light */
.login-box.light {
  background-color: #ffffff;
}
.login-box.light p.title {
  color: #233242;
}
.login-box.light p.info {
  color: #233242;
}
.login-box.light p.footer {
  color: #7d91a9;
}
.login-box.light input {
  background-color: #ffffff;
  border: 1px solid #c5ced8;
}
.login-box.light .input-group-addon i {
  color: #7d91a9;
}
.login-box.light .input-group-addon {
  background-color: #ffffff;
  border: 1px solid #c5ced8;
  border-right: 0px !important;
}
.login-box.light input[type="submit"] {
  border: 1px solid #233242;
  background-color: #233242;
  color: #ffffff;
}
.footer-line {
  border-top: 1px solid #d5dddf;
  text-align: right;
  padding-top: 10px !important;
  margin-bottom: 20px;
}
/*** DataTables ***/
.dataTables_length {
  height: 50px;
  line-height: 50px;
}
.dataTables_filter {
  height: 50px;
  text-align: left;
}
table.dataTable tr.odd {
  background-color: #ECF0F1;
}
table.dataTable tr.odd td.sorting_1 {
  background-color: #ECF0F1;
}
table.dataTable tr.even td.sorting_1 {
  background-color: #ffffff;
}
.dataTables_info {
  height: 40px;
  line-height: 40px;
}
.dataTables_paginate a {
  height: 40px;
  line-height: 40px;
}
